<div class="historydesc_item">

    <p class="historydesc_user" style = "margin:2px"><%- "名称:" + historydesc.appName %></p>
    <p class="historydesc_user" style = "margin:2px"><%- "版本:" + historydesc.appVersion + "      buildno:" + historydesc.appBuildVersion %></p>
    <p class="historydesc_user" style = "margin:2px"><%- "大小:" + historydesc.appFileSize %></p>
    <p class="historydesc_user" style = "margin:2px"><%- "时间:" + historydesc.appUpdated %></p>

    <p style = "margin:2px">==============================</p>

    <%- historydesc.appUpdateDescription %>

    <p style = "margin:50px">
</div>